@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --primary-color: #00519e;
  --second-color: #fdbd10;
  --white: #fff;
  --black: #000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
  display: inline-block;
}
.container {
  padding: 2rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--primary-color);
  color: var(--white);
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 50px;
  margin-right: 2rem;
}
.nav i {
  color: var(--white);
}
.card {
  width: 200px;
  background-color: var(--primary-color);
  padding: 3rem;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 1rem;
}
.card a {
  color: var(--second-color);
  text-decoration: none;
}
.card:hover {
  background-color: var(--white);
  border: 2px solid var(--second-color);
  color: var(--second-color);
  transition: 1s;
}

.shop h2 {
  text-align: center;
  color: var(--second-color);
  margin-bottom: 2rem;
}
.shop__card {
  background-color: #edeef0;
  border-radius: 25px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 280px;
}
.footer {
  background-color: var(--primary-color);
  text-align: center;
}
.footer__social i, .footer__copy {
  color: var(--second-color);
}
.footer span {
  font-size: 14px;
}